# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Build
build/
dist/
*.egg-info/

.idea/